<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Benvenuto su Boolzapp!</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<!-- BODY -->
<body>
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Container -->
        <div class="container">
            <!-- Vue Container -->
            <div id="root">
                <!-- MAIN -->
                <main>
                    <!-- Inner Container -->
                    <div class="inner_container">
                        <!-- User Interface -->
                        <div class="user_interface">
                            <!-- User Option -->
                            <div class="user_option_container">
                                <!-- Avatar area -->
                                <div class="user_avatar">
                                    <img :src="'img/avatar' + userProfile.avatar + '.jpg'" alt="userProfile.name">
                                    <!-- User name -->
                                    <div class="text">{{userProfile.name}}</div>
                                </div>
                                <!-- Option area -->
                                <div class="user_option opacity">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>    
                            <!-- User Option End -->

                            <!-- Notify area -->
                            <div class="user_notify">
                                <div class="notify_icon">
                                    <i class="fas fa-bell-slash"></i>
                                </div> 
                                <!-- Option -->
                                <div class="notify_text">
                                    <div class="text">
                                        Ricevi notifiche di nuovi messaggi
                                    </div>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <!-- Notify area End -->

                            <!-- Search filter area -->
                            <div class="search_area">
                                <div class="search_container">
                                    <div class="search_icon">
                                        <i class="fas fa-search opacity"></i>
                                    </div>

                                    <!-- Input area -->
                                    <label for="user_filter"></label>
                                    <input id="user_filter" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchTextFilter" @keyUp="searchFilter">
                                </div>
                            </div>
                            <!-- Search filter area End-->

                            <!-- User chat area -->
                            <div class="user_chats">
                                <ul>
                                    <!-- List of Contacts -->
                                    <li v-for="(contact, index) in contacts"
                                        v-if="contact.visible"
                                        @click="activeContact = index" 
                                        class="text" 
                                        :class="{ 'active': index === activeContact }"
                                        >
                                        <div class="contacts_info">
                                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                            <span>{{contact.name}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- User chat area End-->
                        </div>
                        <!-- User Interface End -->

                        <!-- Message Interface -->
                        <div class="message_interface">
                            <div class="user_option_container border_left">
                                <div  class="user_avatar" >
                                    <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'" :alt="contacts[activeContact].name">
                                    <!-- User name -->
                                    <div class="text">{{contacts[activeContact].name}}</div>
                                </div>
                                <!-- Option area -->
                                <div class="user_option opacity">
                                    <i class="fas fa-search"></i>
                                    <i class="fas fa-paperclip"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>

                            <!-- Message Area -->
                            <div class="messages_container" >
                                <div v-for="(message, index) in contacts[activeContact].messages" class="messages_box">
                                    <!-- Message Box -->
                                    <div class="message_box" :class="message.status" >
                                        <!-- Text message -->
                                        {{message.text}}
                                        <!-- Date message -->
                                        <div class="message_date">{{message.date}}</div>

                                        <!-- chevron dropdown message option -->
                                        <div class="message_option">
                                            <!-- Chevron icon -->
                                            <div class="ms_chevron" @click="menuDropdown(index)">
                                                <i class="fas fa-chevron-down"></i>
                                            </div>

                                            <!-- Menu dropdown -->
                                            <div v-if="index == activeMessage" class="message_option" >
                                                <ul>
                                                    <li>
                                                        Info
                                                    </li>
                                                    <li>
                                                        Elimina
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Input message area -->
                            <div class="text_input">
                                <i class="far fa-smile"></i>
                                <label for="message_txt"></label>
                                <input id="message_txt" type="text" placeholder="Scrivi un messaggio" v-model="newMessageText" @keyup.enter="newMessage">
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>
                        <!-- Message Interface -->
                    </div>
                    <!-- Inner Container -->
                </main>
                <!-- MAIN END -->
            </div>
            <!-- Vue Container End -->
        </div>
        <!-- Container -->
    </div>
    <!-- Wrapper End -->

    <!-- Day.Js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- Javascript -->
    <script src="js/script.js" ></script>
</body>
<!-- BODY END -->
</html>